.basicModal .ant-modal-content {
    padding: 0px;
}

.basicModal .ant-modal-content .ant-modal-header, .basicModal .ant-modal-content .ant-modal-body {
    padding: 10px;
}

.basicModal .ant-modal-content .ant-modal-close{
    background: #1677ff;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
}
.basicModal .footer-action {
    width: 100%;
    /* border: none; */
    border-radius: 0px;
}

.basicModal .footer-btn-1 {
    border-bottom-left-radius: 8px;
}

.basicModal .footer-btn-2 {
    border-bottom-right-radius: 8px;

}