.container {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(240, 242, 245);
  justify-content: center;
  /* padding-left: 15px;
  padding-right: 18px;
  padding-top: 15px; */
}

.shadowViewContainer {
  display: "flex";
  background-color: #fff;
  justify-content: 'center';
  align-items: 'center';
  /* margin: "20px"; */
  /* padding: "20px"; */
  box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
}

.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideshow {
  display: none;
}